#header .top-header .header-navigation ul li.menu-item-has-children .sub-menu .sub-menu {
	padding-top: 0;
	top: 0;
	left: 200px;
}

#header .top-header .header-navigation ul li.menu-item-has-children .sub-menu {
	display: block;
	visibility: hidden;
	z-index: 99;
}
#header .top-header .header-navigation ul li.menu-item-has-children:hover > .sub-menu {
	visibility: visible;
}


@media only screen and (max-width: 560px) {
	#contact-us .section-content .contact-us-box .box-left {
		width: 100%;
		margin: 0;
		padding: 0;
		display: block;
		border-right: none;
	}

	#contact-us .section-content .contact-us-box .box-right {
		width: 100%;
		margin: 0;
		padding: 0;
		display: block;
	}
}

@media only screen and (max-width: 320px) {
	#header .bottom-header .header-button-one {
		width: 100%;
		margin: 10px 0;
		padding: 0;
	}

	#header .bottom-header .header-button-two {
		width: 100%;
		margin: 10px 0;
		padding: 0;
	}
}